<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | DataLake</title>
    {%load static %}
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <style>
    {% block styles %}

    {% endblock %}
    </style>

    <!-- Estilos -->
    <link href="{% static 'core/css/datalake.css' %}" rel="stylesheet">

</head>

<body>

{% comment %} 

                                                    Priemr Base DATALAKE

<div class="wrapper">
    <!-- Sidebar  -->
    
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>DataLake - Interfaz</h3>
        </div>

        <ul class="list-unstyled components">
            <p><a href="{% url 'core-home' %}">{{user.username}}</a></p>
            <li class="active">
                <a href="#Departamento 1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Base</a>
                <ul id="Departamento 1">
                    <li>
                        <a href="{% url 'formulariobase-inicio' %}">Formulario Base</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#Departamento 2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">DIMAP</a>
                <ul id="Departamento 2">
                    <li>
                        <a href="{% url 'denuncia-inicio' %}">Denuncia</a>
                    </li>
                    <li>
                        <a href="{% url 'controldeplaga-inicio' %}">Control De Plaga</a>
                    </li>
                    <li>
                        <a href="{% url 'esterilizacion-inicio' %}">Esterilizacion</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#Departamento 3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Farmacia</a>
                <ul id="Departamento 3">
                    <li>
                        <a href="{% url 'comprobanteventa-create' %}">Venta de Farmacia</a>
                    </li>
                    <li>
                        <a href="{% url 'productofarmacia-inicio' %}">Productos Farmacia</a>
                    </li>
                </ul>
            </li>
        <ul class="list-unstyled CTAs">
            
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' %}" class="download">Perfil</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="article">Cerrar Sesion</a>
                </li>
                <li>
                   <a href="{% url 'vis' %}" class="download">Visualizacion</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}" class="download">Iniciar Sesion</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class="article">Registrarse</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'core-home' %}">Pagina Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core-quienes' %}">Quienes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core-qya' %}">Preguntas y Respuestas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'calculadorauv' %}">Calculadora UV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ request.META.HTTP_REFERER }}">Atras</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>     

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{message}}
        </div>
    {% endfor %}
{% endif %} 

    {% block content %} 

    {% endblock %} 


    </div>
</div>  
{% endcomment %}


{% comment %} 
                        Header
{% endcomment %}

<div>
    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">{{user.username}}</a>
        <a href="{% url 'logout' %}">Cerrar Sesion</a>
    {% else %}
        <a href="{% url 'login' %}">Iniciar Sesion</a>
        <a href="{% url 'register' %}">Registrarse</a>
    {% endif %}
    <a class="nav-link" href="{{ request.META.HTTP_REFERER }}">Atras</a>
    <div>
        <a href="{% url 'core-home' %}">Inicio</a>
        <a href="{% url 'core-quienes' %}">Quienes Somos</a>
        <a href="{% url 'core-qya' %}">Preguntas y Respuestas</a>
        <a href="{% url 'calculadorauv' %}">Calculadora UV</a>
        <a href="{% url 'vis' %}">Visualizacion</a>
    </div>
</div>

{% comment %} 
                        CONTENIDO DE LA PAGINA
{% endcomment %}

<div>

{% block content %} 

{% endblock %} 

</div>

{% comment %} 
                        Footer 
{% endcomment %}

<div>
    <h1>FOOTER</h1>
    <img src="{% static 'core/img/logo_independencia.png' %}">
</div>

    {% block jQuery %}

    {% endblock %}

    <script>
    $(document).ready(function(){
        {% block script %}
        {% endblock %}
    })
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </body>
</html>
