{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Inicio{% endblock %}

{% block content %}


{% for formulario in formularios %}
    {% if formulario.autor == user %}
        <div class="media">
            <div>
                <div>
                    <p>{{ formulario.autor }}</p>
                </div>
                <h2><a href="{% url 'formularioomil-detail' formulario.id %}">{{formulario.nombre_formulario}} - {{formulario.created|date:"d/m/Y"}} - {{ formulario.numero_identificacion }}</a></h2>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}

{% block script %} 

{% endblock %}