{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Nuevo Cliente{% endblock %}

{% block content %}
<div class="container contenedor-wrap"> 
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Crear nuevo cliente</legend>
                {{ persona|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Siguente</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}

<script>
{% block script %}
$( "#id_direccion_persona" ).autocomplete({
    source: '{% url 'autocompete_calles' %}'
});     
{% endblock %}
</script>