{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Nueva Persona{% endblock %}

{% block content %}

<div class="container contenedor-wrap"> 
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Crear Perfil Persona</legend>
                <div class="container formulario-crear-perfil">
					<div class="row">
						<div class="col">
							{{ persona|crispy }}
						</div>
						<div class="col">
                            {{ direccion|crispy }}
							{{ telefono|crispy }}
							{{ correo|crispy }}
                            {{ info_salud|crispy }}
						</div>
					</div>
				</div>
            </fieldset>
            <div class="form-group align-right">
                <button class="btn btn-outline-info" type="submit">Siguente</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

<script>
{% block script %}
$( "#id_calle" ).autocomplete({
    source: '{% url 'autocompete_calles' %}'
});      
{% endblock %}
</script>