{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Nueva Persona{% endblock %}

{% block content %}

<div class="container contenedor-wrap"> 
    <div class="content-section">
        <form action='' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Crear Perfil Persona</legend>
                <div class="container formulario-crear-perfil">
					<div class="row">
						<div class="col">
							{{ persona|crispy }}
						</div>
						<div class="col">
                            {{ direccion|crispy }}
							{{ telefono|crispy }}
							{{ correo|crispy }}
                            {{ info_salud|crispy }}

                            <div id="files">
                                <input type="file" name = "file[]" style="width: 100%;"><br><br>
                            </div>
                            <input class='file-adicional' type ="button" name="add_file" id="add_file" value = "+">
                            
						</div>
					</div>
				</div>
            </fieldset>
            <div class="form-group align-right">
                <button class="btn btn-outline-info" type="submit">Siguente</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

<script>
{% block script %}
$( "#id_calle" ).autocomplete({
    source: '{% url 'autocompete_calles' %}'
});      

document.getElementById("add_file").onclick=function (ev) {
            var image = document.getElementById("files");
    
            var newInput = document.createElement("input");
            newInput.type="file";
            newInput.name = "file[]";
            newInput.style = "width: 100%";
    
            var br=document.createElement("br");
            var br1=document.createElement("br");
    
            image.appendChild(newInput);
            image.appendChild(br);
            image.appendChild(br1);
    
        }

{% endblock %}
</script>