{% extends 'core/base.html' %}
{% block title %}Calculadora UV{% endblock %}

{% block content %}
<div class="container contenedor-wrap"> 
    <div class="content-section align-center">
        <form method="GET" action="{% url 'cal_uv' %}">
            <fieldset class="form-group">
                <legend class="mb-4">Calculadora de Unidad Vecinal</legend>
                    <input placeholder="Nombre de Calle" name='nombre_calle' id='id_nombre_calle'>
                    <input placeholder="Numero de Calle" name='numero_calle' id='id_nombre_calle'>
            </fieldset> 
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Calcular UV</button>
            </div>
        </form>
        <div class="resultado_uv">
            <h3>{{uv}}</h3>
        </div>
    </div>
</div>
{% endblock %}

<script>
{% block script %}
$( "#id_nombre_calle" ).autocomplete({
    source: '{% url 'autocompete_calles' %}'
});     
{% endblock %}
</script>