<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visualización | DataLake</title>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <style>
      body {
        background-color: rgb(255, 255, 255); text-left: center; margin: 0;
      }
      canvas {
        float: left;
        width:40%
        vertical-align: top;
      }
    </style>

    <!-- Estilos -->
    <link href="{% static 'core/css/datalake.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="/static/vis/vis-js/p5.js"></script>
    <script src="/static/vis/map.js"></script>
    <script src="/static/vis/sketch.js"></script>
    <script type="text/javascript">
      var data_var = "{{ lista_mapa }}"
      var predios_var = "/static/vis/data/PREDIOS_INDEPENDENCIA.geojson"
      var unidades_var = "/static/vis/data/Unidades_Vecinales.geojson"
      var monotype_var = "/static/vis/assets/Akkurat-Mono.otf"
    </script>
</head>

<body>
<!-- Header --> 
<div id="menu-top" class="container-fluid">
  <div class="container">
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'profile' %}" class="ver-perfil">{{user.username}}</a></li>
      <li><a href="{% url 'logout' %}" class="logout">Cerrar Sesión</a></li>
  {% else %}
      <li><a href="{% url 'login' %}" class="ver-perfil">Iniciar Sesion</a></li>
  {% endif %}
  {% if request.user.groups.all %}
  {% for group in request.user.groups.all %}
      {% if group.name == 'farmacia' %}
          <li><a href="{% url 'farmacia-home' %}" class="link-inicio">Pagina Principal</a></li>
      {% elif group.name == 'dimap' %}
          <li><a href="{% url 'dimap-home' %}" class="link-inicio">Pagina Principal</a></li>
      {% else %}
          <li><a href="{% url 'core-home' %}" class="link-inicio">Pagina Principal</a></li>
      {% endif %}
  {% endfor %}
  {% else %}
      <li><a href="{% url 'core-home' %}" class="link-inicio">Pagina Principal</a></li>
      <li><a href="{{ request.META.HTTP_REFERER }}" class="cerrar-sesion">Atras</a></li>
  {% endif %}
    </ul>
  </div>
</div>

<!-- Mensajes --> 
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container">
<div id="contenedor-principal" class="container-fluid">

  <div class="container">
    <div id="contenedor-principal" class="container-fluid">
      <!--SELECTOR-->
      <div class="row" id="consola-vis">
          <div class="col-xs-3 col-sm-3 consola-vis-izq">
            <select id="selector-tablas" onchange="cargar_tabla(this.value)">
              <option>FUENTE DE DATOS</option>
              <option>FARMACIA MUNICIPAL</option>
              <option>HIGIENTE AMBIENTAL - DIMAP</option>
              <option>SEGURIDAD MUNICIPAL</option>
              <option>IMPUESTOS Y DERECHOS</option>
              <option>AYUDA SOCIAL - PANDEMIA</option>
              <option>EXCENCIÓN BASURA</option>
              <option selected="selected">OBRAS MUNICIPALES</option>
              <option>TRANSITO</option>
            </select>
        </div>
        <div class="col-xs-9 col-sm-9 consola-vis-der">
          <form action='' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ filtro_tiempo }}
            <div class='btn-group'>
              <input class='btn btn-primary ver-o-editar' type='submit' value='Siguiente'> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
	
<div style="height: 5vh; width: 65vw; float: right;">
  
</div>

<div class="content-table-vis">
<table id="datos-vis" class="tabla-block" style="width:100%" border = "1" cellpadding= "5" cellspacing = "5">
  <tr>
    <th>UV</th>
    {% if fechas_categoria.categoria == "Total" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}" style="color:#BFBFFF">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "ANEXIÓN" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}" style="color:#BFBFFF;">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "ANTIGUAS" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}" style="color:#BFBFFF;">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "ANULACION" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}" style="color:#BFBFFF;">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "CAMBIO DE DESTINO" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}" style="color:#BFBFFF;">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "FUSIÓN" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}" style="color:#BFBFFF;">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "LEY 20,898" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}" style="color:#BFBFFF;">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "OBRAS MENORES" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}" style="color:#BFBFFF;">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "PERMISO DE EDIFICACIÓN" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}" style="color:#BFBFFF;">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "RECEPCIÓN FINAL" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}" style="color:#BFBFFF;">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "REGULARIZACIONES" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}" style="color:#BFBFFF;">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "REGULARIZACIONES LEY 18.591" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}" style="color:#BFBFFF;">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "RESOLUCIÓN" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}" style="color:#BFBFFF;">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "SUBDIVISIONES" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}" style="color:#BFBFFF;">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}">VENTA POR PISO</a></th>   
    {% elif fechas_categoria.categoria == "VENTA POR PISO" %}
      <th><a href="{% url 'obrasmunicipales-vis' 0 %}">Total</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 1 %}">ANEXIÓN</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 2 %}">ANTIGUAS</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 3 %}">ANULACION</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 4 %}">CAMBIO DE DESTINO</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 5 %}">FUSIÓN</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 6 %}">LEY 20,898</a></th>   
      <th><a href="{% url 'obrasmunicipales-vis' 7 %}">OBRAS MENORES</a></th>
      <th><a href="{% url 'obrasmunicipales-vis' 8 %}">PERMISO DE EDIFICACIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 9 %}">RECEPCIÓN FINAL</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 10 %}">REGULARIZACIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 11 %}">REGULARIZACIONES LEY 18.591</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 12 %}">RESOLUCIÓN</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 13 %}">SUBDIVISIONES</a></th>  
      <th><a href="{% url 'obrasmunicipales-vis' 14 %}" style="color:#BFBFFF;">VENTA POR PISO</a></th>   
    {% endif %}  
  </tr>

  {% for key, value in diccionario_tabla.items %}
    <tr>
        <td> {{ key }} </td> 

        {% if fechas_categoria.categoria == "Total" %}
          <td style="background-color:#BFBFFF;"> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "ANEXIÓN" %}
          <td> {{ value.0 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "ANTIGUAS" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "ANULACION" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "CAMBIO DE DESTINO" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "FUSIÓN" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "LEY 20,898" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "OBRAS MENORES" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "PERMISO DE EDIFICACIÓN" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "RECEPCIÓN FINAL" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "REGULARIZACIONES" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "REGULARIZACIONES LEY 18.591" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "RESOLUCIÓN" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "SUBDIVISIONES" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.13 }} </td>
          <td> {{ value.14 }} </td>
        {% elif fechas_categoria.categoria == "VENTA POR PISO" %}
          <td> {{ value.0 }} </td>
          <td> {{ value.1 }} </td>
          <td> {{ value.2 }} </td>
          <td> {{ value.3 }} </td>
          <td> {{ value.4 }} </td>
          <td> {{ value.5 }} </td>
          <td> {{ value.6 }} </td>
          <td> {{ value.7 }} </td>
          <td> {{ value.8 }} </td>
          <td> {{ value.9 }} </td>
          <td> {{ value.10 }} </td>
          <td> {{ value.11 }} </td>
          <td> {{ value.12 }} </td>
          <td> {{ value.13 }} </td>
          <td style="background-color:#BFBFFF;"> {{ value.14 }} </td>
        {% endif %}
    </tr>
{% endfor %}

</table>
</div>
{% comment %} 

estudiar html

<div style="position:">
hdsahhdhas
</div> {% endcomment %}

<!-- script -->
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    })

    function cargar_tabla(value){

      if (value == "FARMACIA MUNICIPAL"){
        window.location.href = "{% url 'farmacia-vis' %}";
      }
      
      else if (value == "HIGIENTE AMBIENTAL - DIMAP"){
        window.location.href = "{% url 'dimap-vis' 0 %}";
      }

      else if (value == "SEGURIDAD MUNICIPAL"){
        window.location.href = "{% url 'seguridad-vis' 0 %}";
      }

      else if (value == "IMPUESTOS Y DERECHOS"){
        window.location.href = "{% url 'impuestos-vis' 0 %}";
      }

      else if (value == "AYUDA SOCIAL - PANDEMIA"){
        window.location.href = "{% url 'ayudapandemia-vis' 0 %}";
      }

      else if (value == "EXCENCIÓN BASURA"){
        window.location.href = "{% url 'excencionbasura-vis' 0 %}";
      }

      else if (value == "TRANSITO"){
        window.location.href = "{% url 'transito-vis' 0 %}";
      }

      else{
        alert("Pagina Actual");
      }
  }
    </script>

  </body>
</html>