<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visualización | DataLake</title>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <style>
      body {
        background-color: rgb(255, 255, 255); text-left: center; margin: 0;
      }
      canvas {
        vertical-align: top;
      }
    </style>

    <!-- Estilos -->
    <link href="{% static 'core/css/datalake.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="/static/vis/vis-js/p5.js"></script>
    <script src="/static/vis/map.js"></script>
    <script src="/static/vis/sketch.js"></script>
    <script type="text/javascript">
      var data_var = "/static/vis/data/DENUNCIAS SEGURIDAD TELEFONO 1469.csv"
      var predios_var = "/static/vis/data/PREDIOS_INDEPENDENCIA.geojson"
      var unidades_var = "/static/vis/data/Unidades_Vecinales.geojson"
      var monotype_var = "/static/vis/assets/Akkurat-Mono.otf"
    </script>
</head>

<body>
<!-- Header --> 
<div id="menu-top" class="container-fluid">
  <div class="container">
    <ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}" class="ver-perfil">{{user.username}}</a></li>
        <li><a href="{% url 'logout' %}" class="logout">Cerrar Sesión</a></li>
    {% else %}
        <li><a href="{% url 'profile' %}" class="ver-perfil">Iniciar Sesion</a></li>
        <li><a href="{% url 'logout' %}" class="cerrar-sesion">Registrarse</a></li>
    {% endif %}
        <li><a href="{{ request.META.HTTP_REFERER }}" class="cerrar-sesion">Atras</a></li>   
    </ul>
  </div>
</div>

<!-- Mensajes --> 
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
</div>

<div id="contenedor-principal" class="container-fluid">
    <!-- Barra Colapso  -->
    <div class="pos-f-t">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="content-menu p-4">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'core-home' %}">Pagina Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core-quienes' %}">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core-qya' %}">Preguntas y Respuestas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calculadorauv' %}">Calculadora UV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-item-view" href="{% url 'vis' %}">Visualización</a>
                    </li>
                </ul>
            </div>
          </div>
          
          <nav class="navbar nav-datalake">
            <div class="container">
              <a class="nav-link" href="{% url 'core-home' %}"><img src="{% static 'core/css/img/form-independencia.png' %}"/></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon burger-toggler"></span>
              </button>
            </div>
          </nav>
        </div>
    </div> 

<div> 
<p><a href="{% url 'inicio-vis' %}">Volver a seleccion de tablas</a></p>
</div>



{% comment %} 

estudiar html

<div style="position:">
hdsahhdhas
</div> {% endcomment %}

<!-- script -->
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    })
    </script>


  </body>
</html>
