{% extends 'core/base.html' %}
{% block title %}Inicio{% endblock %}

{% block styles %}
<link href="core/css/datalake.css3" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container contenedor-wrap">  
  <div class="botonera" style="background-color: white">
    <h1>Elija la tabla que desea visualizar</h1> 
    <div class="botones">
      <a href="{% url 'farmacia-vis' %}">Farmacia</a>
      <a href="{% url 'dimap-vis' %}">DIMAP</a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %} 
{% endblock %}