{% extends 'core/base.html' %}
{% block title %}Inicio Seguridad{% endblock %}

{% block styles %}
<link href="core/css/datalake.css3" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container contenedor-wrap">  
  <div class="botonera" style="background-color: white">
    <h1>Seguridad Municipal</h1> 
    <div class="botones">
      <a href="{% url 'comprobanteventa-inicio' %}">Formulario 1</a>
      <a href="#">Formulario 2</a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %} 
{% endblock %}