{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Carga de Datos{% endblock %}

{% block content %}
<div class="container contenedor-wrap"> 
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Carga Permiso Circulacion</legend>
                <h2>Instrucciones para carga de datos masiva:</h2>
                <hr>
                <div class="row">
                    <div class="col">    
                        <h5>1) El nombre del archivo debe ser carga_permisoscirculacion.xlsx </h5>
                        <hr>
                        <h5>2) El formato debe ser el siguente:</h5>
                        <hr>
                            <table style="width:100%" border = "1" cellpadding= "5" cellspacing = "5">
                                <th>uv_id</th>
                                <th>fecha</th> 
                                <th>calle</th>
                                <th>numero</th>
                            <tr>
                                <td>1</td>
                                <td>2020</td>
                                <td>SANTIAGO DE ARCOS</td>
                                <td>2680</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2015</td>
                                <td>ANTONIO JACOB VIAL</td>
                                <td>1655</td>
                            </tr>
                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>
                            </table>
                        <hr>
                        <h4 class="magenta">Importante: si no se siguen las instrucciones, no se efectura la carga de datos</h4>
                    </div>
                </div>
                <hr>

                <h5>Descargar Excel ejemplo - <a href="{% url 'descargar-permiso-circulacion' %}">aqui</a></h5>

                <hr>
                {{ datos|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}