{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Comprobante de Venta en Farmacia{% endblock %}

<script>

{% block script %}

function updateEmptyFormIDs(element, totalForms){
    var thisInput = element

    // get current form input name
    var currentName = element.attr('name')
    // replace "prefix" with actual number
    var newName = currentName.replace(/__prefix__/g, totalForms)
    // console.log(newName)
    
    // update input with new name
    thisInput.attr('name', newName)
    thisInput.attr('id', "id_" + newName)


    // create a new form row id
    var newFormRow = element.closest(".form-row");
    var newRowId =  "row_id_" + newName
    newFormRow.attr("id", newRowId)

    // add new class for basic graphic animation
    newFormRow.addClass("new-parent-row")
    // update form group id
    var parentDiv = element.parent();
    parentDiv.attr("id", "parent_id_" + newName)

    // update label id
    var inputLabel = parentDiv.find("label")
    inputLabel.attr("for", "id_" + newName)
    

    // return created row
    return newFormRow
}



$('.add-new-form').click(function(e) {
    e.preventDefault()
    // form id like #id_form-TOTAL_FORMS
    var formId = "id_productovendido_set-TOTAL_FORMS"

    // copy empty form
    var emptyRow = $("#empty-row").clone();
    // remove id from new form
    emptyRow.attr("id", null)
    // Insert row after last row
    
    // get starting form count for formset
    var totalForms = parseInt($('#' + formId).val());
    
    // create new form row from empty form row
    var newFormRow;
    emptyRow.find("input, select, textarea").each(function(){
        newFormRow = updateEmptyFormIDs($(this), totalForms)
    })


    // insert new form at the end of the last form row
    $(".form-row:last").after(newFormRow)

    // update total form count (to include new row)
    $('#'+ formId).val(totalForms + 1);

    // scroll page to new row
    $('html, body').animate({
        scrollTop: newFormRow.offset().top - 100
    }, 500, function(){
        // animate background color
        // requires: jQuery Color: https://code.jquery.com/color/jquery.color-2.1.2.min.js
        newFormRow.animate({
            backgroundColor: "#fff"
        }, 1500)
    });

});



{% endblock %}

</script>




<style>
{% block styles %}

#empty-row {
    display: none
}
.form-row {
    border-bottom: 1px solid #333;
    margin: 20px 0px;
    padding: 20px 10px;
}

.new-parent-row {
    background-color: rgb(75, 186, 228);
}
    
</style>
{% endblock %}



{% block content %}
<h1>Farmacia</h1>
<form action='' method='POST'>
    {% csrf_token %}
    <div class='btn-group'>
        <input class='btn btn-primary' type='submit' value='Save' /> 
        <a class='btn btn-link add-new-form' href='#'>+ Agregar Producto</a>
    </div>
    <br/>
    <h3>Datos Territoriales</h3>
    {{ c_form|crispy }}
    <hr>
    <h3>Productos</h3>
    {{ formset.management_form }}
    {% for form in formset %}
    <div class='form-row'>
        {{ form|crispy }}
    </div>
    {% endfor %}

    <div class='form-row' id='empty-row'>
        {{ formset.empty_form|crispy }}
    </div>

    <div class='btn-group'>
        <input class='btn btn-primary' type='submit' value='Save' /> 
        <a class='btn btn-link add-new-form' href='#'>+ Agregar Producto</a>
    </div>
</form>
<br/>
<br/>

{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}