{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Productos Vendidos{% endblock %}

{% block content %}
<a href="{% url 'comprobanteventa-create' %}"><button class="btn btn-outline-info">Nueva Venta</button></a>
<hr>
<form method="GET">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-outline-info">Buscar</button>
</form>
<hr>
<div>
    <table style="width:100%" border = "1" cellpadding= "5" cellspacing = "5">
        <td>N° de Venta</td>
        <td>N° de Identidad de la Persona</td> 
        <td>Profesional</td>
        <td>---------</td>
    {%for object in filter.qs %}
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.numero_identificacion }}</td>
        <td>{{ object.farmaceuta }}</td>
        <td><a href="{% url 'comprobanteventa-detail' object.id %}">BOTON EDITAR</a> - <a href="{% url 'comprobanteventa-delete' object.id %}">BOTON BORRAR</a></td>
    </tr>
    {%endfor%}
    </table>
</div>

<a href="{% url 'descargar-comprobantes' %}"><button class="btn btn-outline-info">Descargar Excel</button></a>

{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}