{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Productos Vendidos{% endblock %}

{% block content %}
<div class="container">
  <div class="container cabecera-interior-tablas">
    <div class="row">
      <div class="col-sm vertical-align-middle">
        <h3>Ventas Farmacia</h3>
      </div>
      <div class="col-sm vertical-align-middle">
        
      </div>
      <div class="col-sm vertical-align-middle">
        <a href="{% url 'persona' %}"><button class="btn btn-outline-info boton-inverso"><span class="txt-btn">Nueva Venta</span> <span class="relative mb3 arrow-btn"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-right fa-w-8 fa-fw fa-2x icon-flecha"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path></svg></span></button></a>
      </div>
    </div>
  </div>

  <hr>
  <div class="contenedor-wrap">
    <div class="espaciador padding-right-30">
    <h3>Buscador</h3>
      <form method="GET">
          {{ filter.form|crispy }}
          <button type="submit" class="btn btn-outline-info">Buscar</button>
      </form>
    </div>
  </div>
  <hr>
  <div>
    <div class="titulo-tabla">
        <h3>Ventas</h3>
    </div> 
      <table style="width:100%" border = "1" cellpadding= "5" cellspacing = "5">
          <td>N° de Venta</td>
          <td>N° de Identidad de la Persona</td> 
          <td>Profesional</td>
          <td> </td>
          <td> </td>
      {%for object in filter.qs %}
      <tr>
          <td>{{ object.id }}</td>
          <td>{{ object.numero_identificacion }}</td>
          <td>{{ object.farmaceuta }}</td>
          <td><a class="btn ver-o-editar" href="{% url 'comprobanteventa-edicion' object.id %}">VER O EDITAR</a></td>
          {% if user == object.farmaceuta%}
          <td> <a href="{% url 'comprobanteventa-delete' object.id %}"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-trash-alt fa-w-14 fa-2x"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z" class=""></path></svg></a></td>
          {% endif %}
      </tr>
      {%endfor%}
      </table>
    <a href="{% url 'descargar-comprobantes' %}"><button class="btn btn-outline-info">Descargar Excel</button></a>
  </div>
</div>


{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}