{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Productos Vendidos{% endblock %}

{% block content %}

<h1><a href="{% url 'comprobanteventa-create' %}">Crear Comprobante de Venta</a></h1>
<form method="GET">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<div>
    <table border = "1" cellpadding= "5" cellspacing = "5">
        <td>Comprobante de Venta</td>
        <td>numero_identificacion</td> 
        <td>farmaceuta</td>
    {%for object in filter.qs %}
    <tr>
        <td>{{ object.id }} - <a href="{% url 'comprobanteventa-detail' object.id %}">editar</a></td>
        <td>{{ object.numero_identificacion }}</td>
        <td>{{ object.farmaceuta }}</td>
    </tr>
    {%endfor%}
</div>

{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}