{% extends 'core/base.html' %}
{% block title %}Generador Informes{% endblock %}

{% block styles %}
<link href="core/css/datalake.css3" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container contenedor-wrap">  
  <div class="botonera" style="background-color: white">
    <h1>Informes Farmacia</h1> 
    <div class="botones">
      <a href="{% url 'productofarmacia-inicio' %}">Informe de Productos</a>
    <div>
      <a href="{% url 'Stock-inicio' %}">&nbsp       &nbsp  Informe de Stock &nbsp&nbsp      &nbsp</a>
    <div>
      <a href="{% url 'Informe-ventas' %}">&nbsp &nbspInforme de Ventas&nbsp &nbsp </a>
    <div>
      <a href="{% url 'personainfosalud-informe' %}">&nbsp &nbsp  &nbsp Lista Personas &nbsp &nbsp  &nbsp&nbsp</a>
    </div>
    <div>
      <a href="{% url 'comprobanteventa-inicio' %}">&nbsp &nbsp  &nbsp Lista Ventas &nbsp &nbsp  &nbsp&nbsp</a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %} 
{% endblock %}