{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Informe de ventas{% endblock %}

{% block content %}
<form method="POST" id="form_out">
    {% csrf_token %}
</form>

<div class="container">
    <div class="container cabecera-interior-tablas">
      <div class="row">
        <div class="col-sm vertical-align-middle">
          <h3>Informe de ventas</h3>
        </div>
        <div class="col-sm vertical-align-middle">
          
        </div>

      </div>
    </div>

<hr>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#filtro" aria-controls="filtro" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon burger-toggler"></span>
</button>
<div class="collapse" id="filtro">
  <div class="contenedor-wrap">
    <div class="espaciador padding-right-30">
      <h3>Buscador</h3>
      
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-info" name ="newItem", value ="newItem">Add data</button>
          
            
        </form>
    </div>
  </div>
  <hr>
  </div>

    <div class="container contenedor-wrap"> 
        <div class="container">
            <h4 style="text-align: center;">Grafico de ventas</h4>
            <button type="submit" class="btn btn-outline-info" style="float: right" name ="clean", value ="clean" form = "form_out">Remove data</button>
            

            <div>
                <input type="radio" value = "Grafico 1" id="graf1" name="show_chart" onclick="showChart(this)" data-chart-name='myChart'>
                <label for="graf1">Grafico 1</label><br>
                <input type="radio" value = "Grafico 2" id="graf2" name="show_chart" onclick="showChart(this)" data-chart-name="myChart2">
                <label for="graf2">Grafico 2</label><br>
                <input type="radio" value = "Grafico 3" id="graf3" name="show_chart" onclick="showChart(this)" data-chart-name="myChart3">
                <label for="graf3">Grafico 3</label><br>
            </div>
            <div class="chart-container" style="text-align: center; height:500px; width:700px;margin: 0 auto">
              <canvas  id="myChart" style="height:500px; width:700px ;margin: 0 auto;"></canvas>
              <canvas hidden="hidden" id="myChart2" style="height:500px; width:700px ;margin: 0 auto;"></canvas>
              <canvas hidden="hidden" id="myChart3" style="height:500px; width:700px ;margin: 0 auto;"></canvas>
            
              <div class="container" id="startdate-container" hidden="hidden">
                <span style="float: left;">
                  <label for="startdate">Fecha inicio:</label>
                  <input onchange="filterDataStart(this)" type="date" id="startdate" value="2022-10-01">
                </span>
                <span style="float: right;">
                  <label for="enddate">Fecha fin:</label>
                  <input onchange="filterDataEnd(this)" type="date" id="enddate">
                </span>


              </div>
            </div>

        </div>
    </div>
    

{% endblock %}


{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

{% endblock %}

<script >
{% block script %}

    const fecha = new Date();

    var myChart = new Chart(document.getElementById("myChart"), {
        type: 'bar',
        data: {
        labels: [ {% for producto in lista_productos %} '{{ producto }}', {% endfor %} ],
        datasets: [
            {
            label: "Productos",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [{% for number in cantidad_productos %} '{{ number }}', {% endfor %}]
            }
        ]
        },
        options: {
            plugins: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Ventas Por Producto'
                },
                responsive: false,
                maintainAspectRatio: false,
            },
            scales: {
              y: {
                ticks: {
                  stepSize: 1
                }
              }
            }
        }
    });


    var myChart = new Chart(document.getElementById("myChart2"), {
        data: {
        labels: [ {% for fecha in data_fecha.keys %} '{{ fecha }}', {% endfor %} ],
        datasets: [
            {
            type: 'bar',
            label: 'Ventas por dia',
            backgroundColor: "#3e95cd",
            borderColor: "#3e95cd",
            data: [ {% for cantidad in data_fecha.values %} '{{ cantidad }}', {% endfor %} ],
            },
            {
            type: 'line',  
            label: 'Ventas acumuladas',
            backgroundColor: "#8e5ea2",
            borderColor: "#8e5ea2",
            data: [ {% for cantidad in cantidad_acumulada.values %} '{{ cantidad }}', {% endfor %} ],
            }
        ]
        },
        options: {
            plugins: {
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Ventas Por Fecha de {{ lista_productos|last }}'
                },
                responsive: true,
                maintainAspectRatio: true,
            },
            scales: {
              x: {
                display: true,
                min: '2022-10-01',
                max: fecha,
                type: 'time',
                time: {
                  unit: 'day',
                }
              },
              y: {
                ticks: {
                  stepSize: 1,
                },
                beginAtZero: true
              }
            }
        }
    });

    var colores =["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"];
    
  
    console.log(`{{ data_fecha_all_js }}`)
    var data3 = {
      labels: [ {% for fecha in data_fecha.keys %} '{{ fecha }}', {% endfor %} ],
      datasets: [{% for i in data_fecha_all %}
        {
        label: `{{ i|last }}.values`,
        data: ['{{forloop.counter}}','{{forloop.counter}}','{{forloop.counter}}'],
        backgroundColor: colores['{{forloop.counter}}'],
        borderColor: colores['{{forloop.counter}}'],
        borderWidth: 1
        },
        {% endfor %}
    ]
    };

    const config3 = {
      type: 'line',
      data: data3,
      options: {
        scales: {
          x: {
            display: true,
            min: '2022-10-01',
            max: fecha,
            type: 'time',
            time: {
              unit: 'day',
            }
          },          
          y: {
            beginAtZero: true
          }
        }
      }
    }
    var myChart3 = new Chart(document.getElementById("myChart3"), 
      config3
    );

  function showChart(checkbox) {
    const grafo1 = document.getElementById('myChart');
    const grafo2 = document.getElementById('myChart2');
    const date1 = document.getElementById('startdate-container');
    const grafo3 = document.getElementById('myChart3');
    if(document.getElementById('graf1').checked) {
      grafo1.removeAttribute("hidden");
      grafo2.setAttribute("hidden", "hidden");
      date1.setAttribute("hidden", "hidden");
      grafo3.setAttribute("hidden", "hidden");
    } else if (document.getElementById('graf2').checked) {
      grafo1.setAttribute("hidden", "hidden");      
      grafo2.removeAttribute("hidden");
      date1.removeAttribute("hidden");
      grafo3.setAttribute("hidden", "hidden");
    } else {
      grafo1.setAttribute("hidden", "hidden");    
      grafo2.setAttribute("hidden", "hidden");
      date1.removeAttribute("hidden");
      grafo3.removeAttribute("hidden");
    }
    grafo1.classList.toggle('hide');
    grafo2.classList.toggle('hide');
    grafo3.classList.toggle('hide');
  }
  function filterDataStart(date) {
    const startDate = `${date.value}`;
    myChart.options.scales.x.min = startDate;
    myChart.update();
    myChart3.options.scales.x.min = startDate;
    myChart3.update();
  }

  function filterDataEnd(date) {
    const endDate = `${date.value}`;
    myChart.options.scales.x.max = endDate;
    myChart.update();
    myChart3.options.scales.x.max = endDate;
    myChart3.update();    
  }


{% endblock %}
</script>

