{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Informe de ventas{% endblock %}

{% block content %}
<form method="POST" id="form_out">
    {% csrf_token %}
</form>

<div class="container">
    <div class="container cabecera-interior-tablas">
      <div class="row">
        <div class="col-sm vertical-align-middle">
          <h3>Informe de ventas</h3>
        </div>
        <div class="col-sm vertical-align-middle">
          
        </div>

      </div>
    </div>

<hr>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#filtro" aria-controls="filtro" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon burger-toggler"></span>
</button>
<div class="collapse" id="filtro">
  <div class="contenedor-wrap">
    <div class="espaciador padding-right-30">
      <h3>Buscador</h3>
      
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-info" name ="newItem", value ="newItem">Add data</button>
          
            
        </form>
    </div>
  </div>
  <hr>
  </div>

    <div class="container contenedor-wrap"> 
        <div class="container">
            <h4 style="text-align: center;">Grafico bonito</h4>
            <button type="submit" class="btn btn-outline-info" style="float: right" name ="clean", value ="clean" form = "form_out">Remove data</button>
            

            <div>
                <input type="radio" value = "Grafico 1" id="graf1" name="show_chart" onclick="showChart2(this)" data-chart-name='myChart'>
                <label for="graf1">Grafico 1</label><br>
                <input type="radio" value = "Grafico 2" id="graf2" name="show_chart" onclick="showChart2(this)" data-chart-name="myChart2">
                <label for="graf2">Grafico 2</label><br>
            </div>
            <div class="chart-container" style="text-align: center; height:500px; width:700px;margin: 0 auto">
              <canvas  id="myChart" style="height:500px; width:700px ;margin: 0 auto;"></canvas>
              <canvas hidden="hidden" id="myChart2" style="height:500px; width:700px ;margin: 0 auto;"></canvas>
            </div>

        </div>
    </div>
    

{% endblock %}


{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>

{% endblock %}

<script >
{% block script %}
    var myChart = new Chart(document.getElementById("myChart"), {
        type: 'bar',
        data: {
        labels: [ {% for producto in lista_productos %} '{{ producto }}', {% endfor %} ],
        datasets: [
            {
            label: "Productos",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [{% for number in cantidad_productos %} '{{ number }}', {% endfor %}]
            }
        ]
        },
        options: {
            plugins: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Ventas Por Producto'
                },
                responsive: false,
                maintainAspectRatio: false,
            },
            scales: {
              y: {
                ticks: {
                  stepSize: 1
                }
              }
            }
        }
    });

    var myChart = new Chart(document.getElementById("myChart2"), {
        type: 'line',
        data: {
        // labels: [ {% for key in data_fecha.keys %} '{{ key }}', {% endfor %} ],
        labels: [ {% for fecha in data_fecha.keys %} '{{ fecha }}', {% endfor %} ],
        datasets: [
            {
            label: '{{ lista_productos|last }}',
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [ {% for cantidad in data_fecha.values %} '{{ cantidad }}', {% endfor %} ],
            }
        ]
        },
        options: {
            plugins: {
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Ventas Por Fecha'
                },
                responsive: true,
                maintainAspectRatio: true,
            },
            scales: {
              y: {
                ticks: {
                  stepSize: 1,
                },
                beginAtZero: true
              }
            }
        }
    });

  function showChart(checkbox){
    const chartid = document.getElementById(checkbox.dataset.chartName);
    let hidden = chartid.getAttribute("hidden");

    if (hidden) {
      chartid.removeAttribute("hidden");

    } else {
      chartid.setAttribute("hidden", "hidden");
    }

    chartid.classList.toggle('hide');
  }

  function showChart2(checkbox) {
    const grafo1 = document.getElementById('myChart');
    const grafo2 = document.getElementById('myChart2');
    if(document.getElementById('graf1').checked) {
      grafo1.removeAttribute("hidden");
      grafo2.setAttribute("hidden", "hidden");
    } else {
      grafo1.setAttribute("hidden", "hidden");      
      grafo2.removeAttribute("hidden");
    }
    grafo1.classList.toggle('hide');
    grafo2.classList.toggle('hide');
  }

{% endblock %}
</script>

