{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Productos Farmacia{% endblock %}

{% block content %}
<a href="{% url 'productofarmacia-create' %}"><button class="btn btn-outline-info">Nuevo Producto de farmacia</button></a>
<hr>
<div>
    <form method="GET">
        {{ filter.form|crispy }}
        <button type="submit" class="btn btn-outline-info">Buscar</button>
    </form>
</div>
<hr>
<div>
    <table style="width:100%" border = "1" cellpadding= "5" cellspacing = "5">
        <td>marca_producto</td>
        <td>p_a</td> 
        <td>dosis</td>
        <td>presentacion</td>
        <td>f_ven</td>
        <td>precio</td>
        <td>n_lote</td>
        <td>------------</td>
    {%for object in filter.qs %}
    <tr>
        <td>{{ object.marca_producto }}</td>
        <td>{{ object.p_a }}</td>
        <td>{{ object.dosis }}</td>
        <td>{{ object.precentacion }}</td>
        <td>{{ object.f_ven }}</td>
        <td>{{ object.precio }}</td>
        <td>{{ object.n_lote }}</td>
        <td><a href="{% url 'productofarmacia-detail' object.id %}">BOTON EDITAR</a> - <a href="{% url 'productofarmacia-delete' object.id %}">BOTON BORRAR</a></td>
    </tr>
    {%endfor%}
    </table>
</div>
{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}