{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Productos Farmacia{% endblock %}

{% block content %}
<div class="container">
  <div class="container cabecera-interior-tablas">
    <div class="row">
      <div class="col-sm vertical-align-middle">
        <h3>Productos</h3>
      </div>
      <div class="col-sm vertical-align-middle">
      </div>
      <div class="col-sm vertical-align-middle">
        <a href="{% url 'productofarmacia-create' %}"><button class="btn btn-outline-info boton-inverso"><span class="txt-btn">Nuevo Producto</span> <span class="relative mb3 arrow-btn"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-right fa-w-8 fa-fw fa-2x icon-flecha"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path></svg></span></button></a>
      </div>
    </div>
  </div>

  <hr>
  <div class="contenedor-wrap">
    <div class="espaciador padding-right-30">
      <h3>Buscador</h3>
        <form method="GET">
            {{ filter.form|crispy }}
            <button type="submit" class="btn btn-outline-info">Buscar</button>
        </form>
    </div>
  </div>
  <hr>
  <div>
    <table style="width:100%" border = "1" cellpadding= "5" cellspacing = "5">
        <td>Marca del Producto</td>
        <td>Componente Activo</td> 
        <td>Dosis</td>
        <td>Presentacion</td>
        <td>Fecha de vencimiento</td>
        <td>Precio</td>
        <td>N° de Lote</td>
        <td>  </td>
    {%for object in filter.qs %}
    <tr>
        <td>{{ object.marca_producto }}</td>
        <td>{{ object.p_a }}</td>
        <td>{{ object.dosis }}</td>
        <td>{{ object.presentacion }}</td>
        <td>{{ object.f_ven|date:"d-m-Y"}}</td>
        <td>${{ object.precio }}</td>
        <td>{{ object.n_lote }}</td>
        <td><a class="btn ver-o-editar" href="{% url 'productofarmacia-update' object.id %}">VER O EDITAR</a></td>
    </tr>
    {%endfor%}
    </table>
  </div>
</div>
{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}