{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Control de Plaga{% endblock %}

{% block content %}
<h1> <a href="{% url 'controldeplaga-create' %}">Crear Formulario Control de Plaga</a></h1>
<hr>
<table border = "1" cellpadding= "5" cellspacing = "5">
    <td>estatus</td>
    <td>created</td> 
    <td>ficha_numero</td>
    <td>tipo_identificacion</td>
    <td>numero_identificacion</td>
    <td>nombre</td>
    <td>apellido_p</td>
    <td>apellido_m</td>
    <td>telefono</td>
    <td>direccion</td>
    <td>numero_calle</td>
    <td>uv</td>
    <td>email</td>
    <td>tipo_solicitud</td>
    <td>fecha_coordinada</td>
    <td>jornada</td>
    <td>fecha_visita</td>
    <td>producto</td>

    {%for form in form %}
    <tr>
        <td>{{ form.estatus }}</td>
        <td>{{ form.created }}</td>
        <td>{{ form.ficha_numero }}</td>
        <td>{{ form.tipo_identificacion }}</td>
        <td>{{ form.numero_identificacion }}</td>
        <td>{{ form.nombre }}</td>
        <td>{{ form.apellido_p }}</td>
        <td>{{ form.apellido_m }}</td>
        <td>{{ form.telefono }}</td>
        <td>{{ form.direccion }}</td>
        <td>{{ form.numero_calle }}</td>
        <td>{{ form.uv }}</td>
        <td>{{ form.email }}</td>
        <td>{{ form.tipo_solicitud }}</td>
        <td>{{ form.fecha_coordinada }}</td>
        <td>{{ form.jornada }}</td>
        <td>{{ form.fecha_visita }}</td>
        <td>{{ form.producto }}</td>
    </tr>
    {%endfor%}


{% endblock %}