{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edicion Formulario{% endblock %}

{% block content %}

<div>
    <h2>{{object.nombre_formulario}}</h2>
    <h3>Creador del formulario: {{ object.autor }}</h3>
    <h4>Fecha de creacion: {{object.created|date:"d/m/Y"}}</h4>
    {% if object.autor == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'denuncia-update' object.id %}">Editar</a>
    {% endif %}
    <hr>
    <h5>Nombre Denunciante: {{ object.nombre_denunciante }} {{ object.apellido_p_denunciante }} {{ object.apellido_m_denunciante }}</h5>
    <br>
    <h5>Numero de Indinteficiacion Denunciante: {{ object.numero_identificacion_denunciante }}</h5>  
    <br>
    <h5>Direccion Denunciante: {{ object.direccion }} {{ object.numero_calle }}</h5>  
    <br>
    <h3>Unidad Vecinal Denunciante: {{ object.uv }}</h3>  
    <hr>
</div>

{% endblock %}

{% block script %} 

{% endblock %}