{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Denuncias{% endblock %}

{% block content %}

<h1> <a href="{% url 'denuncia-create' %}">Crear Formulario Denuncias</a></h1>
<hr>
<table border = "1" cellpadding= "5" cellspacing = "5">
    <td>estatus</td>
    <td>created</td> 
    <td>tipo_identificacion_denunciante</td>
    <td>numero_identificacion_denunciante</td>
    <td>nombre_denunciante</td>
    <td>apellido_p_denunciante</td>
    <td>apellido_m_denunciante</td>
    <td>telefono_denunciante</td>
    <td>direccion</td>
    <td>numero_calle</td>
    <td>email_denunciante</td>
    <td>tipo_denuncia</td>
    <td>texto_denuncia</td>
    <td>nombre_denunciado</td>
    <td>apellido_p_denunciado</td>
    <td>apellido_m_denunciado</td>
    <td>telefono_denunciado</td>
    <td>direccion_denunciado</td>
    <td>numero_calle_denunciado</td>
    <td>email_denunciado</td>
    <td>fecha_visita</td>
    <td>lugar_de_transgresion</td>
    <td>visita_inspectiva</td>
    <td>texto_observacion</td>
    <td>categoria_visita</td>
    <td>notificacion</td>
    <td>numero_noficacion</td>
    <td>texto_enviado</td>
    <td>ver_respuesta</td>
    
    {%for form in form %}
    <tr>
        <td>{{ form.estatus }}</td>
        <td>{{ form.created }}</td>
        <td>{{ form.tipo_identificacion_denunciante }}</td>
        <td>{{ form.numero_identificacion_denunciante }}</td>
        <td>{{ form.nombre_denunciante }}</td>
        <td>{{ form.apellido_p_denunciante }}</td>
        <td>{{ form.apellido_m_denunciante }}</td>
        <td>{{ form.telefono_denunciante }}</td>
        <td>{{ form.direccion }}</td>
        <td>{{ form.numero_calle }}</td>
        <td>{{ form.email_denunciante }}</td>
        <td>{{ form.tipo_denuncia }}</td>
        <td>{{ form.texto_denuncia }}</td>
        <td>{{ form.nombre_denunciado }}</td>
        <td>{{ form.apellido_p_denunciado }}</td>
        <td>{{ form.apellido_m_denunciado }}</td>
        <td>{{ form.telefono_denunciado }}</td>
        <td>{{ form.direccion_denunciado }}</td>
        <td>{{ form.numero_calle_denunciado }}</td>
        <td>{{ form.email_denunciado }}</td>
        <td>{{ form.fecha_visita }}</td>
        <td>{{ form.lugar_de_transgresion }}</td>
        <td>{{ form.visita_inspectiva }}</td>
        <td>{{ form.texto_observacion }}</td>
        <td>{{ form.categoria_visita }}</td>
        <td>{{ form.notificacion }}</td>
        <td>{{ form.numero_noficacion }}</td>
        <td>{{ form.texto_enviado }}</td>
        <td>{{ form.ver_respuesta }}</td>
    </tr>
    {%endfor%}


{% endblock %}