{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Formulario de Farmacia{% endblock %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Formulario de Farmacia</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Subir formulario</button>
        </div>
    </form>
</div>

<script>
$(function() {
$( "#id_direccion" ).autocomplete({
    source: '{% url 'autocompete_calles' %}'
});
});
$(function() {
$( "#id_p_origen" ).autocomplete({
    source: '{% url 'autocompete_pais' %}'
});
});



</script>



{% endblock %}