{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edicion Formulario{% endblock %}

{% block content %}

<div>
    <h2>{{object.nombre_formulario}}</h2>
    <h3>Creador del formulario: {{ object.autor }}</h3>
    <h4>Fecha de creacion: {{object.created|date:"d/m/Y"}}</h4>
    {% if object.autor == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'formulariobase-update' object.id %}">Editar</a>
    {% endif %}
    <hr>
    <h5>Nombre: {{ object.nombre }} {{ object.apellido }}</h5>
    <br>
    <h5>Numero de Indinteficiacion: {{ object.numero_identificacion }}</h5>  
    <br>
    <h5>Pais de Origen: {{ object.p_origen }}</h5> 
    <br>
    <h5>Direccion: {{ object.direccion }} {{ object.numero_calle }}</h5>  
    <br>
    <h3>Unidad Vecinal: {{ object.uv }}</h3>  
    <hr>
    <h3>texto1:</h3>
    <p>{{ object.texto1 }} </p>  
    <br>
    <h3>texto2:</h3>
    <p>{{ object.texto2 }} </p>  
    <br>
    <h3>texto3:</h3>
    <p>{{ object.texto3 }} </p>  
    <br>
    <h3>texto4:</h3>
    <p>{{ object.texto4 }} </p>  
    <br>
</div>

{% endblock %}

{% block script %} 

{% endblock %}

{% block jQuery %}
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

{% endblock %}