<nav id="sidebar">
        <div class="sidebar-header">
            <h3>DataLake - Interfaz</h3>
        </div>

        <ul class="list-unstyled components">
            <p><a href="{% url 'core-home' %}">{{user.username}}</a></p>
            <li class="active">
                <a href="#Departamento 1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Base</a>
                <ul id="Departamento 1">
                    <li>
                        <a href="{% url 'formulariobase-inicio' %}">Formulario Base</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#Departamento 2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">DIMAP</a>
                <ul id="Departamento 2">
                    <li>
                        <a href="{% url 'denuncia-inicio' %}">Denuncia</a>
                    </li>
                    <li>
                        <a href="{% url 'controldeplaga-inicio' %}">Control De Plaga</a>
                    </li>
                    <li>
                        <a href="{% url 'esterilizacion-inicio' %}">Esterilizacion</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#Departamento 3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Farmacia</a>
                <ul id="Departamento 3">
                    <li>
                        <a href="{% url 'comprobanteventa-create' %}">Venta de Farmacia</a>
                    </li>
                </ul>
            </li>
        <ul class="list-unstyled CTAs">
            
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' %}" class="download">Perfil</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="article">Cerrar Sesion</a>
                </li>
                <li>
                   <a href="{% url 'vis' %}" class="download">Visualizacion</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}" class="download">Iniciar Sesion</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class="article">Registrarse</a>
                </li>
            {% endif %}
        </ul>
    </nav>