{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Stock{% endblock %}

{% block content %}
<div class="container">
  <div class="container cabecera-interior-tablas">
    <div class="row">
      <div class="col-sm vertical-align-middle">
        <h3>Resumen Stock de Productos</h3>
      </div>
      <div class="col-sm vertical-align-middle">
        
      </div>
    </div>
  </div>

  <hr>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#filtro" aria-controls="filtro" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon burger-toggler"></span>
  </button>
  <div class="collapse" id="filtro">
    <div class="contenedor-wrap">
      <div class="espaciador padding-right-30">
        <h3>Buscador</h3>
        
          <form method="GET">
              {{ filter.form|crispy }}
              <button type="submit" class="btn btn-outline-info">Buscar</button>
          </form>
      </div>
    </div>
    <hr>
    </div>

    <div>

    <table style="width:100%" border = "1" cellpadding= "5" cellspacing = "5">
        <td>Marca del Producto</td>
        <td>Stock actual</td> 
        <td>Stock minimo</td>
        <!-- <td>Stock maximo</td> -->
        <td>Holgura de Stock</td>
        <td>  </td>
        <td>  </td>
    {%for object in filtrados %}
    <tr>
        <td>{{ object.nombre.marca_producto }}</td>
        <td>{{ object.stock }}</td>
        <td>{{ object.stock_min }}</td>
        <!-- <td>{{ object.stock_max }}</td> -->
        {% if object.stock > object.stock_min%}
        <td>{{ object.holgura }}</td>
        {% else %}
        <td> {{object.holgura }} &nbsp {{ 'Stock bajo el minimo !!' }} &#128721</td>
        {% endif %}
        
        {% if request.user.groups.all %}
        {% for group in request.user.groups.all %}
        {% if group.name == "Farmacia-Farmaceuta"%}        
        <td><a class="btn ver-o-editar" href="{% url 'Stock-update' object.id %}">VER O EDITAR</a></td>
        <td> <a href="{% url 'Stock-update' object.id %}"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-trash-alt fa-w-14 fa-2x"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z" class=""></path></svg></a></td>
       
        {% else %}
        <td> </td>
        {% endif %}
        
        {% endfor %}
        {% else %}
        <td> </td>
        <td> </td>
        {% endif %}  
    </tr>
    {%endfor%}
    </table>

    <div class="pagination" style="display: flex; justify-content: center;">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a class="btn ver-o-editar" href="#" onclick="document.location.href=PaginadorDinamico(1)">&laquo; primero</a>
              <a class="btn ver-o-editar" href="#"  onclick="document.location.href=PaginadorDinamico({{ page_obj.previous_page_number }})">anterior</a>
          {% else %} 
              <button style="visibility: hidden; width: 98.24px;"></button>
              <button  style="visibility: hidden; width: 89.19px;"></button>  
          {% endif %}
  
          <span class="btn ver-o-editar">
              Pag {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a class="btn ver-o-editar" href="#" onclick="document.location.href=PaginadorDinamico({{ page_obj.next_page_number }})">siguiente</a>
              <a class="btn ver-o-editar" href="#" onclick="document.location.href=PaginadorDinamico({{ page_obj.paginator.num_pages }})">ultimo &raquo;</a>
          {% else %}
              <button style="visibility: hidden; width: 96.9px;"></button>
              <button  style="visibility: hidden; width: 88.74px;"></button>   
          {% endif %}
      </span>
      <form action="." method="get" >
        <div class="custom-seleccionador">
        <select name="paginate_by" onchange="this.form.submit()">
           <option>N°</option>
           <option>5</option>
           <option>10</option>
           <option>20</option>
           <option>30</option>
        </select>
        </div>
      </form>
  </div>


  </div>
</div>
{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}

<script >
  {% block script %}

  function PaginadorDinamico(ref)
  {
    console.log(ref)
    var urlPagina = document.URL;
    let paramString = urlPagina.split('?')[1];
    let queryString = new URLSearchParams(paramString);
    let urlString =urlPagina.split('?')[0]+"?"; 
    let pageStatus = false
    for(let pair of queryString.entries()){
      if (pair[0]!="page") {
        urlString = urlString + pair[0]+"="+pair[1]+"&"
      } else {
        urlString = urlString + pair[0]+"="+ref+"&"
        pageStatus = true
      }
    }
    if (pageStatus == false) {
      urlString = urlString + "page="+ref+"&"
    }
    urlString = urlString.slice(0,-1)
    console.log(urlString)


    let newUrl = urlString
    
  return newUrl
  }

  {% endblock %}
</script>