{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Control de Plaga{% endblock %}

{% block content %}
<div class="container">
    <div class="container cabecera-interior-tablas margin-bottom-30">
        <div class="row">
            <div class="col-sm vertical-align-middle">
                <h3>Confirmación de Control de Plaga</h3>
            </div>
            <div class="col-sm vertical-align-middle">
            </div>
            <div class="col-sm vertical-align-middle">
            <a href="{% url 'controldeplaga-delete' controldeplaga.id %}"><button class="btn btn-outline-info boton-inverso"><span class="txt-btn">Eliminar</span> <span class="relative mb3 arrow-btn"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-right fa-w-8 fa-fw fa-2x icon-flecha"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path></svg></span></button></a>
            </div>
        </div>
    </div>

    <div class="contenedor-wrap">
        <div class="container contenidos-comprobante-venta">
            <div class="row">
                <div class="col">
                    <h4 class="magenta">Nº de Identificación:</h4>
                    <h2>{{ persona.tipo_identificacion  }} - {{ persona.numero_identificacion }}</h2>
                    <h4 class="magenta">Nombre Responsable:</h4>
                    <h2>{{ persona.nombre_persona  }}  {{ persona.apellido_paterno }} {{ persona.apellido_materno }}</h2>
                    <h4 class="magenta">Direccion:</h4>
                    <h2>{{ direccion.calle  }}  {{ direccion.numero }} | {{ direccion.uv}}</h2>
                </div>
                <div class="col">
                    <h4 class="magenta">Fecha de creacion:</h4>
                    <p>{{ controldeplaga.created }}</p>
                    <h4 class="magenta">Fecha de creacion:</h4>
                    <p>{{ controldeplaga.created }}</p>
                    <h4 class="magenta">Atendido por:</h4>
                    <p>{{ controldeplaga.autor }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="contenedor-wrap">
        <div class="container contenidos-comprobante-venta">
            <div class="row">
                <div class="col">
                    <h4 class="magenta">Estatus</h4>
                    <h2>{{ controldeplaga.get_estatus_display  }}</h2>
                    <hr>
                    <h4 class="magenta">Folio: </h4>
                    <h2>{{ controldeplaga.ficha  }}</h2>
                    <hr>
                    <h4 class="magenta">Fecha de coordinacion: </h4>
                    <h2>{{ controldeplaga.f_coordinacion  }}</h2>
                </div>
                <div class="col">
                    <h4 class="magenta">Tipo de Control:</h4>
                    <h2>{{ controldeplaga.get_tipo_control_display  }}</h2>
                    <hr>
                    <h4 class="magenta">Jornada de servicio:    </h4>
                    <h2>{{ controldeplaga.get_jornada_servicio_display  }}</h2>
                    <h4 class="magenta">Fecha de Operacion:</h4>
                    {% if controldeplaga.f_operacion == None %}
                        <h2>No hay fecha de operacion</h2>
                        <hr>
                    {% else %}
                        <h2>{{ controldeplaga.f_operacion }}</h2>
                        <hr>
                    {% endif %}
                    <h4 class="magenta">Producto Utilizado:</h4>
                    {% if controldeplaga.producto == None %}
                        <h2>No se ha utilizado Producto</h2>
                        <hr>
                    {% else %}
                        <h2>{{ controldeplaga.get_producto_display  }}</h2>
                        <hr>
                    {% endif %}
                    <hr>
                </div>
            </div>
            <hr>
            <h3>Usted está apunto de confirmar la creacion del formulario</h3>
            <a href="{% url 'controldeplaga-inicio' %}"><button type="button" class="btn-outline-info btn">Confirmar</button></a>
        </div>
    </div>
    <hr>
    <hr>  
    
    </div>
</div>
{% endblock %}

{% block jQuery %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Color for Background Animation -->
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}