{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Control de Plaga{% endblock %}

{% block content %}


<div class="container contenedor-wrap">  
    <div class="container contenidos-comprobante-venta">
        <div class="row">
            <div class="col">
                <h2> Nombre <span class="magenta">{{ object.persona.nombre_persona }} {{ object.persona.apellido_paterno }} {{ object.persona.apellido_materno }}</span></h2>

                <h4 class="magenta">Nº de Identificación:</h4>
                <p>{{ object.persona.tipo_identificacion }} - {{ object.persona.numero_identificacion }}</p>
            </div>
            <div class="col">
                <h4 class="magenta">Fecha de nacimiento: </h4>
                <p>{{ object.persona.fecha_nacimiento }}</p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container contenedor-wrap"> 
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Control de Plaga</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

<script>
{% block script %}
$( "#id_direccion_responsable" ).autocomplete({
    source: '{% url 'autocompete_calles' %}'
});      
{% endblock %}
</script>

