{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Esterilizacion{% endblock %}

{% block content %}


<div class="container contenedor-wrap">  
    <div class="container contenidos-comprobante-venta">
        <div class="row">
            <div class="col">
                <h2> Nombre <span class="magenta">{{ persona.nombre_persona }} {{ persona.apellido_paterno }} {{ persona.apellido_materno }}</span></h2>

                <h4 class="magenta">Nº de Identificación:</h4>
                <p>{{ persona.tipo_identificacion }} - {{ persona.numero_identificacion }}</p>
                <h4 class="magenta">Nº de Telefono</h4>
                <p>{{ telefono.telefono}}</p>
                <h4 class="magenta">Correo:</h4>
                <p>{{correo.correo}}</p>
            </div>
            <div class="col">
                <h2> UV: <span class="magenta"> {{ direccion.uv }} </span></h2>
                <h4 class="magenta">Fecha de nacimiento:</h4>
                <p>{{ persona.fecha_nacimiento }}</p>
                <h4 class="magenta">Dirección:</h4>
                <p>{{ direccion.calle }}, {{direccion.numero}}
                {% if direccion.complemento_direccion %}
                 | {{ direccion.complemento_direccion }}
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container contenedor-wrap"> 
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Mascota</legend>
                {{ form_mascota|crispy }}
                <legend class="border-bottom mb-4">Procedimiento</legend>
                {{ form_esterilizacion|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Crear</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

<script>
{% block script %}
$( "#id_direccion_responsable" ).autocomplete({
    source: '{% url 'autocompete_calles' %}'
});      
{% endblock %}
</script>

