{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="legend-content mb-4">Iniciar Sesión</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Iniciar Sesión</button>
        </div>
    </form>
    <div class="contenido pt-3">
        <small class="text-muted">
            ¿Todavia no tines cuenta? <a class="ml-2" href='{% url 'register' %}'><strong>Registrate</strong></a>
        </smal>
    </div>
</div>

{% endblock %}
