{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Restablece la contraseña{% endblock %}

{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Cambia tu contraseña</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Cambia tu contraseña</button>
        </div>
    </form>
</div>

{% endblock %}
